p {
    padding: 0;
    margin: 0;
  }
h1 {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(78, 255, 217);
    padding: 20px;
}
nav ul {
    background-color: gray;
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
}
nav a {
    text-decoration: none;
    color: #ebf565;
    padding: 10px;
    width: 150px;
}
nav li:hover {
    background-color: rgb(163, 80, 12);
}
.contenedor {
    display: flex;
    justify-content: center;
}


.libro {
    width: 350px;
    height: 250px;
    margin-right: 40px;
    margin-top: 70px;
}
.charles {
    width: 350px;
    height: 250px;
    margin-left: 40px;
    margin-top: 70px;

}
/* Estilos globales */
body {
  background-color: #ff7d41;
    font-family: 'Arial', Times, serif;
    line-height: 3;
    margin: 3;
    padding: 3;
  }
  
  header {
    background-color: #0b1391;
    color: #0af199;
    text-align: center;
    padding: 1rem;
  }
  
  h1 {
    margin: 0;
  }
  
  nav {
    background-color: #444;
    padding: 0.9rem;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 1rem;
  }
  
  nav a {
    color: #ebf565;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #ff5100;
  }
  
  main {
    padding: 2rem;
  }
  
  footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
  }
  
  /* Estilos específicos para secciones */
  section {
    margin-bottom: 2rem;
  }
  
  h2 {
    margin-top: 0;
    border-bottom: 1px solid #bb6565;
    padding-bottom: 0.5rem;
  }
  
  p {
    margin-top: 0;
  }
  
  /* Estilos para la tabla */
  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 2000px;
    margin: 0 auto;
  }
  
  th, td {
    border: 1px solid #d10f0f;
    padding: 10px;
  }
  
  th {
    background-color: #8efc10;
  }
  
  tr:hover {
      background-color: #c1eb09;
  }
 .Clacisismo {
    width: 350px;
    height: 250px;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 30px;
}
 .Medieval {
    width: 250px;
    height: 250px;
    margin-left: 40px;
    margin-top: 70px;

}
 .renacimiento {
    width: 350px;
    height: 250px;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
}
 .neoclacisismo {
    width: 350px;
    height: 250px;
    margin-left: 40px;
    margin-top: 70px;

}
 .barroca {
    width: 250px;
    height: 250px;
    margin-left: 60px;
    margin-top: 70px;
}
 .romanticismo {
    width: 350px;
    height: 250px;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
}

